.header {
  border-bottom: 1px solid var(--badges);
  background-color: var(--inputs);
}

.inner {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 72px;
}

.logo {
  display: inline-flex;
  align-items: center;
  padding: 28px 0;
}

.navList {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  gap: 32px;

  @media (min-width: 1440px) {
    display: flex;
  }
}

.link {
  font-size: 16px;
  font-weight: 500;
  color: var(--main);
  padding: 24px 0;
  text-decoration: none;
  transition: color 200ms ease;

  &:hover {
    color: var(--button-hover);
  }

  &.active {
    color: var(--button-hover);
  }
}
