@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.camperSection {
  padding-top: $container-top-padding-desktop;
  padding-bottom: 80px;

  .detailsBottomHalfWrapper {
    min-height: 680px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 48px 1fr;
    grid-template-areas:
      'tabs tabs'
      'content form';
    column-gap: 40px;
    row-gap: 44px;
  }

  .wrong {
    font-size: 16px;
    color: var(--text);
  }
}
