@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.camperCard {
  display: flex;
  flex-direction: row;
  gap: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 100%;
  max-width: 888px;
  background-color: #fff;

  @include media-min($bp-xxl) {
    // flex-direction: row;
    height: 368px;
  }

  .camperThumb {
    border-radius: 10px;
    width: 100%;
    height: 320px;
    object-fit: cover;

    @include media-min($bp-xxl) {
      width: 292px;
      height: 100%;
    }
  }

  .camperInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .headerLocRatingComp {
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        h2 {
          font-weight: 600;
          font-size: 24px;
          line-height: 1.33;
          overflow: hidden;
        }

        .priceFav {
          display: flex;
          align-items: center;
          gap: 12px;

          p {
            font-weight: 600;
            font-size: 24px;
          }

          button {
            background-color: transparent;

            svg {
              width: 25px;
              height: 24px;
              @include transition(all);
              color: var(--main);

              &.favorite {
                color: var(--button);
              }
            }
          }
        }
      }

      .locationRating {
        display: flex;
        align-items: center;

        .rating {
          display: flex;
          align-items: center;
          gap: 4px;

          svg {
            width: 16px;
            height: 16px;
            fill: var(--rating);
            transform: translateY(-5%);
            margin-right: 4px;
          }
        }

        .location {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-left: 16px;

          svg {
            width: 16px;
            height: 16px;
          }

          p {
            font-size: 16px;
          }
        }

        a {
          font-size: 16px;
          text-decoration: underline;
        }
      }
    }

    .description {
      font-size: 16px;
      line-height: 1.5;
      color: var(--text);
      max-width: 525px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
