/* Design Tokens */

$colors: (
  background: #ffffff,
  foreground: #101828,
  main: #101828,
  text: #475467,
  white: #ffffff,
  inputs: #f7f7f7,
  badges: #f2f4f7,
  gray: #6c717b,
  gray-light: #dadde1,
  button: #e44848,
  button-hover: #d84343,
  rating: #ffc531,
);

$transition-default: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
