@use '@/styles/utilities/variables' as *;
@use '@/styles/utilities/mixins' as *;

.galleryInfoWrapper {
  padding-bottom: 60px;

  .galleryWrapper {
    margin: 28px 0;
    @include flex-center();
    gap: 48px;
    height: 312px;
    flex-wrap: wrap;

    .thumb {
      flex-basis: calc((100% - 2 * 48px) / 3);
      height: 312px;

      .picture {
        width: 100%;
        border-radius: 10px;
        @include transition(scale);
        object-fit: cover;
        z-index: 1;

        &:hover {
          scale: 1.005;
          z-index: 50;
        }
      }
    }
  }

  .description {
    line-height: 1.5;
    color: var(--text);
  }
}
