@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

/* .layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'tabs tabs'
    'content form';
  gap: 40px;
} */

.tabs {
  grid-area: tabs;
  display: flex;
  gap: 12px;

  button {
    padding: 12px 24px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid var(--badges);

    &.active {
      background: var(--button);
      color: white;
    }
  }
}

.panel {
  grid-area: content;
  min-height: 25vh;

  background-color: blue;
}
