@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.tabs {
  position: relative;
  display: flex;
  gap: 40px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: calc(200% + 40px);
    height: 1px;
    background-color: var(--gray-light);
  }

  button {
    position: relative;
    background: none;
    padding: 0 0 24 0;
    font-weight: 600;
    font-size: 20px;
    color: var(--main);

    &.active {
      color: var(--main);
    }
  }

  .indicator {
    position: absolute;
    bottom: -2;
    left: 0;
    height: 5px;
    width: 0;
    background-color: var(--button);
    transition:
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.featuresPanel {
  grid-area: content;

  padding: 44px 52px;
  border-radius: 10px;
  width: 631px;
  min-height: 588px;
  background: var(--inputs);

  .vehicleDetails {
    margin-top: 100px;
  }
}

.reviewsPanel {
  grid-area: content;
  height: 100%;

  width: 631px;
  min-height: 588px;

  padding: 44px 52px;
}
