@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.dateField {
  position: relative;
  width: 100%;
}

.input {
  background-color: var(--inputs);
  line-height: 1.2;

  font-size: 16px;
  line-height: 1.5;
  color: var(--main);

  border-radius: 12px;
  padding: 18px 337px 18px 18px;
  width: 527px;
  height: 60px;

  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.activeInput {
  color: var(--main);
}

.popover {
  position: absolute;
  z-index: 20;
  margin-top: 4px;
}

/* ===== Calendar overrides ===== */

.calendarRoot {
  width: 276px;
  padding: 12px;
  background: var(--white);

  border: 1px solid var(--text);
  border-radius: 12px 12px 0 0;
  width: 276px;
  height: 74px;
  position: relative;
}

.month {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--main);

  text-transform: capitalize;
}

.captionLabel {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--main);

  position: absolute;
  left: 50%;
  top: 34%;
  transform: translate(-50%, -50%);
  /* transform: translateX(59%); */
}

.nav {
  display: flex;
  justify-content: space-between;
}

.day {
  width: 36px;
  height: 32px;
  border-radius: 999px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 14px;
  height: 22px;
  width: 6px;
  padding: 9px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;

  border-radius: 32px;
  width: 36px;
  height: 32px;

  @include transition(all);

  &:hover {
    background: var(--text);
    color: var(--inputs);
  }
}

/* .dayDisabled {
  opacity: 0.4;
  cursor: not-allowed;

  &:hover {
    border-color: transparent;
  }
} */

//================================================================

.weekNumber {
  color: red;
  background-color: green;
}

.weekday {
  /* color: red;
  background-color: green; */
  text-transform: uppercase;
}

.month {
  /*   color: red;
  background-color: green; */
  margin-top: 10px;
  z-index: -1;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--main);

  border-radius: 12px;
  /*   width: 276px;
  height: 274px; */

  background: var(--white);

  border-bottom: 1px solid var(--text);
  border-left: 1px solid var(--text);
  border-right: 1px solid var(--text);
  width: 277px;
  margin-left: -13px;
  border-radius: 0 0 12px 12px;
}
