.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

/* Sizes */
.sm {
  max-width: 640px;
}

.md {
  max-width: 768px;
}

.lg {
  max-width: 1024px;
}

.xl {
  max-width: 1280px;
}

.fluid {
  max-width: none;
}

/* Breakpoints */
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 0 64px;
  }
}
