@use '@/styles/utilities/variables' as *;
@use '@/styles/utilities/mixins' as *;

.catalogSection {
  padding-top: $container-top-padding-desktop;
  padding-bottom: 52px;
}

.catalogContentWrapper {
  @include flex-center(_, _, start);
  gap: 64px;
}
