.locationRating {
  display: flex;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;

  svg {
    width: 16px;
    height: 16px;
    fill: var(--rating);
    transform: translateY(-5%);
  }

  a {
    font-size: 16px;
    text-decoration: underline;
  }
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 16px;

  svg {
    width: 16px;
    height: 16px;
  }

  p {
    font-size: 16px;
  }
}

.favorite {
  fill: var(--main);
}
