// Colors
$main-color: var(--main);
$inputs-color: var(--inputs);
$badges-color: var(--badges);
$button-hover-color: var(--button-hover);
$button-color: var(--button);
$white-color: var(--white);
$transition-color: var(--transition-default);

// Transitions
$transition-color: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

// Sizes
$header-height: 72px;

// Breakpoints
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
$bp-xxl: 1440px;

// Container paddings
$container-padding-mobile: 16px;
$container-padding-tablet: 24px;
$container-padding-desktop: 64px;

$container-top-padding-mobile: 16px;
$container-top-padding-tablet: 24px;
$container-top-padding-desktop: 48px;
