@import 'modern-normalize/modern-normalize.css';

/* == CSS Variables == */
:root {
  --background: #ffffff;
  --foreground: #101828;

  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;

  --transition-default: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* == Base Styles == */
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: var(--font-inter), sans-serif;
  color: var(--foreground);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
  display: block;
  color: currentColor;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Accessibility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}
